/Makefile.in
*.la
*.lo
*.o
.deps
.DS_Store
.libs
/build/*
/tmp
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.sub
/config.h.in
/config.h.in~
/configure
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
